#mainBox{
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 250px;
  height: 250px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
}

.title{
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.vs{
  margin: 15px;
  font-size: 24px;
  font-weight: bold;
}

.btn-box{
  width: 100%;
  margin: 10px 0;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.btn-box>button{
  width: 30%;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

#gameStart{
  width: 90%;
}

.btn-box>button:hover{
  background-color: skyblue;
}

.btn-box>button:active{
  scale: 98%;
}

#resultBox{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  margin: 0 15px;
  padding: 10px;
  border-left: 1px solid black;
}

#resultBox>div{
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#ucBox{
  width: 100%;
  margin: 5px 10px;
  padding: 5px 0;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#resultBox>table{
  width: 100%;
  margin: 5px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#resultBox>table, #resultBox tr, #resultBox td {
  border: 1px solid gray;
  border-collapse: collapse;
}

.record-box{
  padding: 0;
}

.record-box>li{
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}